.box {
  position: relative;
  overflow: hidden;
}

.box__inner {
  @include fill(absolute);
}

.box--1x1 {
  padding-top: 100%;
}

.box--3x2 {
  padding-top: percentage(2/3);
}

.box--16x9 {
  padding-top: percentage(9/16);
}