button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}

.button { 
  display: inline-block;
  position: relative;
  font-family: 'BentonSans';
  font-weight: 500;
  padding: 17px 40px 15px 40px;
  border: solid 1px $color-gray;  
  color: $color-black;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none !important;
  overflow: hidden;
  transition: color 250ms ease, box-shadow 250ms ease;
  text-align: center;
}

.button--primary {
  background-color: $color-blue;
  color: $color-white;
  border: none;
  box-shadow: 0 5px 10px rgba(0,0,0,.3);
  
  &:after {
    @include fill(absolute);
    content: '';
    display: block;
    background-color: $color-black;
    transform: translate3d(0,-100%, 0);
    transition: transform 150ms ease;
    z-index: 1;
  }

  span {
    display: inline-block;
    position: relative;
    z-index: 2;
    transform: translate3d(0,0,0);
  }

  &:hover {    
    box-shadow: none;

    html.no-touchevents & {
      color: $color-white;
      &:after {
        transform: translate3d(0,0,0);
      }
    }    
  }
}

.button--secondary {
  background-color: $color-xltgray;
  color: $color-black;
  border: none;
  box-shadow: 0 5px 5px rgba(0,0,0,.15);
  
  &:after {
    @include fill(absolute);
    content: '';
    display: block;
    background-color: $color-blue;
    transform: translate3d(0,-100%, 0);
    transition: transform 150ms ease;
    z-index: 1;
  }

  span {
    display: inline-block;
    position: relative;
    z-index: 2;
  }

  &:hover {
    box-shadow: none;

    html.no-touchevents & {
      color: $color-white;
      
      &:after {
        transform: translate3d(0,0,0);
      }
    }
  }
}

.button--circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0;
  border: none;
  color: $color-white;
  background-color: $color-blue;

  span {    
    @include center(absolute);    
  }

  span[class*=icon] {
    font-size: 16px;    
  }

  span.icon-twitter {
    padding-left: 2px;
  }

  span.icon-instagram {
    padding-left: 2px;
  }
}

.button--circle--stroke {
  border: solid 1px $color-blue;
  background-color: $color-white;
  color: $color-black;
}

.button--circle--ko {
  color: $color-blue;
  background-color: $color-white;
}

.button--cta {
  display: block;
  width: 100%;

  @include breakpoint(tablet) {
    display: inline-block;
    width: auto;
  }
}