$color-white:         #ffffff;
$color-black:         #000000;
$color-xltgray:       #F0F0F0;
$color-xxltgray:      #FCFCFC;
$color-gray:          #999999;
$color-mdgray:        #5B5B5B;
$color-blue:          #0074E4;
