.container {
  position: relative;
  padding: 0 calc(#{$container-padding} + #{$grid-column-gutter / 2});
  margin: 0 auto;

  @include breakpoint(desktop) {
    padding: 0 $grid-column-gutter / 2 0 ($grid-column-gutter / 2) + 10;
  }
}

.container--large {
  position: relative;
  padding: 0 calc(#{$container-padding} + #{$grid-column-gutter / 2});
  margin: 0 auto;
}


.row--no-gutter {
  [class*='col-'] {
    padding: 0 !important;
  }
}

.row {
  position: relative;
  margin-left: -($grid-column-gutter/2);
  margin-right: -($grid-column-gutter/2);

  [class*='col-'] {
    position: relative;
    min-height: 1px;
    padding: 0 $grid-column-gutter/2;
  }

  @for $i from 1 through $grid-column-count {
    .col-mb-#{$i} {
      float: left;
      width: percentage($i/$grid-column-count);
      @media all and (max-width:800px) {
          display: block;
          float: none;
          width: 100%;
      }
    }
    .col-mb-push-#{$i} {
      margin-left: percentage($i/$grid-column-count);
    }
  }

  @include breakpoint(mobile-large) {
    @for $i from 1 through $grid-column-count {
      .col-mb-lg-#{$i} {
        float: left;
        width: percentage($i/$grid-column-count);
      }
      .col-mb-lg-#{$i}-half {
        float: left;
        width: percentage(($i + .5)/$grid-column-count);
      }
      .col-mb-lg-push-#{$i} {
        margin-left: percentage($i/$grid-column-count);
      }
      .col-mb-lg-pull-#{$i} {
        margin-left: percentage(-$i/$grid-column-count);
      }
    }
  }

  @include breakpoint(tablet) {
    @for $i from 1 through $grid-column-count {
      .col-tb-#{$i} {
        float: left;
        width: percentage($i/$grid-column-count);
      }
      .col-tb-#{$i}-half {
        float: left;
        width: percentage(($i + .5)/$grid-column-count);
      }
      .col-tb-push-0 {
        margin-left: 0%;
      }
      .col-tb-push-#{$i} {
        margin-left: percentage($i/$grid-column-count);
      }
      .col-tb-pull-#{$i} {
        margin-left: percentage(-$i/$grid-column-count);
      }
    }
  }

  @include breakpoint(tablet-large) {
    @for $i from 1 through $grid-column-count {
      .col-tb-lg-#{$i} {
        float: left;
        width: percentage($i/$grid-column-count);
      }
      .col-tb-lg-#{$i}-half {
        float: left;
        width: percentage(($i + .5)/$grid-column-count);
      }
      .col-tb-lg-push-0 {
        margin-left: 0%;
      }
      .col-tb-lg-push-#{$i} {
        margin-left: percentage($i/$grid-column-count);
      }
      .col-tb-lg-pull-#{$i} {
        margin-left: percentage(-$i/$grid-column-count);
      }
    }
  }

  @include breakpoint(desktop) {
    @for $i from 1 through $grid-column-count + 5 {
      .col-dk-#{$i} {
        float: left;
        width: percentage($i/$grid-column-count);
      }
      .col-dk-#{$i}-half {
        float: left;
        width: percentage(($i + .5)/$grid-column-count);
      }
      .col-dk-push-0 {
        margin-left: 0%;
      }
      .col-dk-push-#{$i} {
        margin-left: percentage($i/$grid-column-count);
      }
      .col-dk-pull-#{$i} {
        margin-left: percentage(-$i/$grid-column-count);
      }
    }
  }

  @include breakpoint(large) {
    @for $i from 1 through $grid-column-count + 5 {
      .col-lg-#{$i} {
        float: left;
        width: percentage($i/$grid-column-count);
      }
      .col-lg-#{$i}-half {
        float: left;
        width: percentage(($i + .5)/$grid-column-count);
      }
      .col-lg-push-0 {
        margin-left: 0;
      }
      .col-lg-push-#{$i} {
        margin-left: percentage($i/$grid-column-count);
      }
      .col-lg-pull-#{$i} {
        margin-left: percentage(-$i/$grid-column-count);
      }
    }
  }

  @include breakpoint(xlarge) {
    @for $i from 1 through $grid-column-count {
      .col-xl-#{$i} {
        float: left;
        width: percentage($i/$grid-column-count);
      }
      .col-xl-#{$i}-half {
        float: left;
        width: percentage(($i + .5)/$grid-column-count);
      }
      .col-xl-push-#{$i} {
        margin-left: percentage($i/$grid-column-count);
      }
    }
  }

  @include breakpoint(xxlarge) {
    @for $i from 1 through $grid-column-count {
      .col-xxl-#{$i} {
        float: left;
        width: percentage($i/$grid-column-count);
      }
      .col-xxl-push-#{$i} {
        margin-left: percentage($i/$grid-column-count);
      }
    }
  }

  @include breakpoint(xxxlarge) {
    @for $i from 1 through $grid-column-count {
      .col-xxxl-#{$i} {
        float: left;
        width: percentage($i/$grid-column-count);
      }
      .col-xxxl-push-#{$i} {
        margin-left: percentage($i/$grid-column-count);
      }
    }
  }
}



.container,
.row {
  @extend %clearfix;
}

.col-grid {
  @include fill(absolute);
  pointer-events: none;
  font-size: 0;
  z-index: 0;

  @include breakpoint(desktop) {
    padding-left: 10px;
  }
}

.col-grid--fixed {
  @include fill(fixed);
}

.col-grid div {
  display: inline-block;
  position: relative;
  height: 100%;

  &:nth-child(1),
  &:nth-child(4) {
    width: percentage(1/12);
  }

  &:nth-child(2),
  &:nth-child(3) {
    width: percentage(5/12);
  }

  &:nth-child(5),
  &:nth-child(6) {
    display: none;
  }

  @include breakpoint(desktop) {
    display: inline-block !important;
    width: percentage(2/12) !important;
  }
}

.col-grid--lines div {
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }

  &:nth-child(4):after {
    display: none;
  }

  @include breakpoint(desktop) {
    &:nth-child(4):after {
      display: block;
    }

    &:nth-child(6):after {
      display: none;
    }
  }
}

.col-grid--block div {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: $color-blue;
    z-index: 1;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-right: solid 1px transparentize($color-white, .8);
    z-index: 2;
  }
}
