.page-transition {
  @include fill(fixed);
  z-index: 100;
  display: None;
  visibility: hidden;
}

.page-transition .col-grid div {
  &:before {
    backface-visibility: hidden;
    transform-origin: 100% 0;
    transform: scaleX(1.01) scaleY(0);
  }

  @for $i from 1 through 9 {
    &:nth-child(#{$i}):before {
      transition: transform 350ms cubic-bezier(.77,0,.175,1) #{(.05 * $i)}s;
    }
  }

  &:after {
    opacity: 0;
    transition: opacity 350ms ease 300ms;
  }
}

.page-transition.in {
  visibility: visible;
  transition: visibility 0ms ease;

  .col-grid div {
    &:before {
      transform: scaleX(1.01) scaleY(1);
    }

    &:after {
      opacity: 1;
    }
  }
}

.page-transition.out {
  .col-grid div {
    &:before {
      transform-origin: 0 100%;
      transform: scaleX(1.01) scaleY(0);
    }

    &:after {
      opacity: 0;
    }
  }
}