[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
gunicorn = "*"
python-pdf = "*"
pip = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
httplib2 = "*"
oauth2 = "*"
apiclient = "*"
[requires]
python_version = "3.7"
