{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.products.long_description' %}
  {% include 'custom_fields.products.specs' %}
  {% include 'custom_fields.products.spec_sheet_link' %}
</div>