<div class="sections">
  {% section 'hero-video' %}
  {% section 'marketing-blurb' %}
  {% section 'ros-2' %}

  {% section "customers" %}

  {% section 'hero-carousel' %}

  <div class="container">
    <div class="row">
      <div class="col-dk-6 col-dk-push-2">
        {% section 'featured-posts' %}
      </div>
      <div class="col-dk-4 col--forums">
        <div class="forums-cta">
          <div class="forums-cta__inner">
            <h5 class="h3">Want a demo?</h5>
            <p>Get in touch and set up a trial.</p>
            <a href="mailto:info@roverrobotics.com">Email Us <span class="icon-arrow-large-right"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% section 'get-in-touch' %}
  {% section "newsletter" %}
</div>
