<div class="container">
  <div class="row">
    <div class="col-dk-8 col-dk-push-2 col-lg-6">
      {% assign lines = page.title | newline_to_br | split: '<br />' %}
      <h1 class="h1">
        {% for line in lines %}
        <span>{{ line }}</span>
        {% unless forloop.last %}
        <br />
        {% endunless %}
        {% endfor %}
      </h1>
      <div class="page-content">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>


