
.post__modules .module:first-child {
  margin-top: 0 !important;
}
.post__modules li {
   list-style-type: square !important;
  list-style: square !important;
}

.row--posts {
  margin-top: 100px;
  [class*=col-]:first-child {
    @include breakpoint(mobile-large) {

    }   
  }
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.post--single a {
  text-decoration: underline;
}

.tags li {
  float: left;
  cursor: pointer;
}


.tag--brown {
  background: saddlebrown;
  border-radius: 3px 0 0 3px;
  color: #fff;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  &::before {
      background: #fff;
      border-radius: 10px;
      box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
      content: '';
      height: 6px;
      left: 10px;
      position: absolute;
      width: 6px;
      top: 10px;
  }
  &::after {
      background: #fff;
      border-bottom: 13px solid transparent;
      border-left: 10px solid saddlebrown;
      border-top: 13px solid transparent;
      content: '';
      position: absolute;
      right: 0;
      top: 0;
  }
  &:hover {
      background-color: #fff;
      color: #000;
  }
  &:hover::after {
     border-left-color: #fff;
  }
}

.categories {
  display: inline;
  padding: 10px;
}

.tag--orange {
  background: orangered;
  border-radius: 3px 0 0 3px;
  color: #fff;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  &::before {
      background: #fff;
      border-radius: 10px;
      box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
      content: '';
      height: 6px;
      left: 10px;
      position: absolute;
      width: 6px;
      top: 10px;
  }
  &::after {
      background: #fff;
      border-bottom: 13px solid transparent;
      border-left: 10px solid orangered;
      border-top: 13px solid transparent;
      content: '';
      position: absolute;
      right: 0;
      top: 0;
  }
  &:hover {
      background-color: #fff;
      color: #000;
  }
  &:hover::after {
     border-left-color: #fff;
  }
}


.tag--white {
  background: $color-xltgray;

  border-radius: 3px 0 0 3px;
  color: #000;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  &::before {
      background: #fff;
      border-radius: 10px;
      box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
      content: '';
      height: 6px;
      left: 10px;
      position: absolute;
      width: 6px;
      top: 10px;
  }
  &::after {
      background: #fff;
      border-bottom: 13px solid transparent;
      border-left: 10px solid $color-xltgray;
      border-top: 13px solid transparent;
      content: '';
      position: absolute;
      right: 0;
      top: 0;
  }
  &:hover {
      background-color: #fff;
      color: #000;
  }
  &:hover::after {
     border-left-color: #fff;
  }
}

.tag--red {
  background: red;
  border-radius: 3px 0 0 3px;
  color: #fff;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  &::before {
      background: #fff;
      border-radius: 10px;
      box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
      content: '';
      height: 6px;
      left: 10px;
      position: absolute;
      width: 6px;
      top: 10px;
  }
  &::after {
      background: #fff;
      border-bottom: 13px solid transparent;
      border-left: 10px solid red;
      border-top: 13px solid transparent;
      content: '';
      position: absolute;
      right: 0;
      top: 0;
  }
  &:hover {
      background-color: #fff;
      color: #000;
  }
  &:hover::after {
     border-left-color: #fff;
  }
}


.tag--blue {
  background: #0074E4;
  border-radius: 3px 0 0 3px;
  color: #fff;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  &::before {
      background: #fff;
      border-radius: 10px;
      box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
      content: '';
      height: 6px;
      left: 10px;
      position: absolute;
      width: 6px;
      top: 10px;
  }
  &::after {
      background: #fff;
      border-bottom: 13px solid transparent;
      border-left: 10px solid #0074E4;
      border-top: 13px solid transparent;
      content: '';
      position: absolute;
      right: 0;
      top: 0;
  }
  &:hover {
      background-color: #fff;
      color: #000;
  }
  &:hover::after {
     border-left-color: #fff;
  }
}

.tag--black {
   background: #000;
  border-radius: 3px 0 0 3px;
  color: #fff;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  &::before {
      background: #fff;
      border-radius: 10px;
      box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
      content: '';
      height: 6px;
      left: 10px;
      position: absolute;
      width: 6px;
      top: 10px;
  }
  &::after {
      background: #fff;
      border-bottom: 13px solid transparent;
      border-left: 10px solid #000;
      border-top: 13px solid transparent;
      content: '';
      position: absolute;
      right: 0;
      top: 0;
  }
  &:hover {
      background-color: #fff;
      color: #000;
  }
  &:hover::after {
     border-left-color: #fff;
  }
}

.tag--grey {
  background: #ccc;
  border-radius: 3px 0 0 3px;
  color: #fff;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  &::before {
      background: #fff;
      border-radius: 10px;
      box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
      content: '';
      height: 6px;
      left: 10px;
      position: absolute;
      width: 6px;
      top: 10px;
  }
  &::after {
      background: #fff;
      border-bottom: 13px solid transparent;
      border-left: 10px solid #CCCCCC;
      border-top: 13px solid transparent;
      content: '';
      position: absolute;
      right: 0;
      top: 0;
  }
  &:hover {
      background-color: #fff;
      color: #000;
  }
  &:hover::after {
     border-left-color: #fff;
  }
}




.tag--brown {
  background: saddlebrown;
}
.post--index {
  background-color: $color-white;
  max-width: 350px;
  margin: 0 auto 50px auto;

  @include breakpoint(tablet) {
    margin-bottom: 75px;
  }

  @include breakpoint(desktop) {
    margin-bottom: 100px;
  }
}

.post--index .post__meta {
  padding: 20px;

  @include breakpoint(tablet) {
    padding: 30px;
  }
}

.post--index .image {
  border: none;
}

.post--single .post__share--footer {
  position: relative;
  text-align: center;
  margin-top: 50px;
  padding-top: 50px;
  
  &:before {
    @include h-center(absolute);
    content: '';
    display: block;
    top: 0;
    width: 50px;
    height: 3px;
    background-color: $color-blue;    
  }
  
  @include breakpoint(tablet) {
    text-align: left;
  }
  
  h6 {
    margin-bottom: 20px;
  }
  
  li {
    display: inline-block;
    margin: 0 5px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.row--related-posts time {
  display: none;
}

.row--related-posts article {
  margin-bottom: 50px !important;
}