@font-face {
  font-family: 'BentonSans';
  src: url('https://forums.roverrobotics.com/uploads/rover/original/1X/904ea59d5622fc01e24ed02798be4436d4c1762a.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'BentonSans';
  src: url('https://forums.roverrobotics.com/uploads/rover/original/1X/345650802f45e112f43ee500243502eb3afe959e.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'BentonSans';
  src: url('https://forums.roverrobotics.com/uploads/rover/original/1X/9ee4a236aad7e45da90a89b187f61a83f280f64c.ttf') format('truetype');       
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BentonSans';
  src: url('https://forums.roverrobotics.com/uploads/rover/original/1X/4b21f2f0bab3271c2554f0d3648e34efde64b9be.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'BentonSans';
  src: url('https://forums.roverrobotics.com/uploads/rover/original/1X/eccfffb04cfb644b2c19624479d168f13711c0e4.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'BentonSans Condensed';
  src: url('https://forums.roverrobotics.com/uploads/rover/original/1X/95675022623efd1cee691c99b018c7af4a4a3fa5.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BentonSans Condensed';
  src: url('https://forums.roverrobotics.com/uploads/rover/original/1X/9cd32b00906656ea08a3c82c516fe2b8ff59c0d7.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'BentonSans Condensed';
  src: url('https://forums.roverrobotics.com/uploads/rover/original/1X/ca602aa2153f55010ba61f72a0e2fc7b4ead691d.ttf') format('truetype');         
  font-weight: 900;
  font-style: normal;
}
