
<div class="container" style="margin-top:125px;">
  <div class="row">
    <div class="col-dk-12 col-dk-push-0 col-xxxl-8 col-xxxl-push-2"> 
      <h2 style="margin-bottom:10px;">3D Model</h2>
      <iframe width="100%" 
              height="720px" 
              src="https://sketchfab.com/models/3ceae9247e09461fae38acbe3afa9310/embed" 
              frameborder="0" 
              allow="autoplay; fullscreen; vr" 
              mozallowfullscreen="true" 
              webkitallowfullscreen="true">
      </iframe>
    <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
    <a href="https://sketchfab.com/3d-models/rover-4wd-3ceae9247e09461fae38acbe3afa9310?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Rover_4WD</a>
    by <a href="https://sketchfab.com/3DGuidedMarketing?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">3DGM</a>
    on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
    </p>
      
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
