<!-- <section class="customers container">
  <h2>Our Customers</h2>
  <div class="row">
    <div class="col-mb-lg-4">
      <h3>Universities</h3>

        <div class="customers__box">
            <img src="{{ 'Minnesota-.png' | asset_url }}" alt="University of Minnesota" />
            <p>Research Labs and Classrooms</p>
        </div>
    </div>
    <div class="col-mb-lg-4">
        <h3>Startups</h3>
          <div class="customers__box">
            <img src = "//cdn.shopify.com/s/files/1/0055/0433/5925/files/DL_Wild_Goosechaser_1000x1000.jpg?v=1530118745" alt="goose chaser"/>
          </div>
    </div>
    <div class="col-mb-lg-4">
        <h3>Corporate</h3>
          <div class="customers__box">
            <img src="{{ 'intelliguard.jpg' | asset_url }}" alt="intelliguard" />
          </div>
    </div>
  </div>
</section> -->
