 {% if section.settings.title.size > 0 and section.settings.title.size > 0 and  section.settings.ctaText > 0 and section.settings.ctaUrl > 0 %}

  <div class="container">
    <h2 class="module__title">{{ section.settings.title }}</h2>
    <p>{{ section.settings.body }}</p>
    <a class="button button--primary button--cta" href="{{ section.settings.ctaUrl }}"><span>{{ section.settings.ctaText }}</span></a>
  </div>
 {% endif %}

{% schema %}
  {
    "name": "Get In Touch",
    "class": "module module--get-in-touch module--bg",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Title",
        "default": "Get In Touch"
      },
      {
        "id": "body",
        "type": "text",
        "label": "Body",
        "default": "Need help using ROS to build an autonomous solutions? Contact us to discuss our consulting capabilities!"
      },
      {
        "id": "ctaText",
        "type": "text",
        "label": "CTA Text",
        "default": "Contact Us"
      },
      {
        "id": "ctaUrl",
        "type": "text",
        "label": "CTA Url",
        "default": "mailto:info@roverrobotics.com"
      }
    ],
  "presets": [
          {
            "name": "Call To Action",
            "category": "site-builder"
          }
        ]
  }
{% endschema %}
