<section class="hero" style="background: url('{{ section.settings.background_image | img_url: 'master' }}'); background-repeat: no-repeat; background-size: 100% auto; background-position: center;">

</section>


<style>

.hero {
    height: 60vh;
    background-repeat: no-repeat;
    margin-top: -100px;
}

@media all and (max-width: 1024px) {
    .hero {
        margin-top: 0;
        height: 40vh !important;
    }
}
@media all and (max-width: 768px) {
    .hero {
        margin-top: -50px;
    }
}

@media all and (max-width: 411px) {
    .hero {
        margin-top: -100px;
    }
}




</style>

{% schema %}
  {
    "name": "Hero Image Section",
    "settings": [
      {
            "id": "background_image",
            "type": "image_picker",
            "label": "Background Image"
        },
        {
            "id": "top_margin",
            "type": "number",
            "label": "Top Margin (px)",
            "default": 0
        }

    ],
    "presets": [
        {
          "name": "Hero Image",
          "category": "landing-section"
        }
      ]
  }
{% endschema %}
