{% if section.settings.video %}
<div class="container">
  <div class="row">
    <div class="col-xxl-10 col-xxl-push-1">
      <div class="video">
        <div class="box box--16x9">
          <div class="box__inner">
            {% assign prefix = '' %}
            {% if section.settings.video.type == 'youtube' %}
            {% assign prefix = '//www.youtube.com/embed/' %}
            {% elsif section.settings.video.type == 'vimeo' %}
            {% assign prefix = '//player.vimeo.com/video/' %}
            {% endif %}

            <iframe src="{{ prefix | append: section.settings.video.id }}?autoplay=1&rel=0&showinfo=0"
                    frameborder="0"
                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}


{% schema %}
  {
    "name": "Hero Video",
    "class": "module module--hero-video",
    "settings": [
      {
        "id": "video",
        "type": "video_url",
        "label": "Video",
        "accept": ["youtube", "vimeo"]
      }
    ]
  }
{% endschema %}
