<section class="hero">
  <div class="hero__box">
      <div class="hero__overlay">
          <h1>Finally, The Droids you've been looking for:</h1>
          <hr/>
          <span>Durable, High Quality, Fully Supported and Affordable</span>
          |
          <span>Robot Development Platform and Accessories</span>
          <br>

          <a href="https://blog.roverrobotics.com" target="_blank" class="button no-ajax">Learn More</a>
          <a href="{{site.url}}/collections/all" class="button">Shop </a>
      </div>
      <div>
        <!-- The video -->
        <video autoplay muted loop class="hero__video">
          <source src="{{ 'roverrobotics-video.mp4' | asset_url }}" type="video/mp4">
        </video>
      </div>
  </div>
</section>
