<div class="container">
  <div class="row">
    <div class="col-dk-12 col-dk-push-0 col-xxxl-8 col-xxxl-push-2">  
      <img src="//cdn.shopify.com/s/files/1/0055/0433/5925/files/rover-robotics-tagline-bento-bold_grande.png?v=1547845433" style="display: block;
    margin-left: auto;
    margin-right: auto;" />
      <br>
      <br>
      <br>
      <br>
      <img src="//cdn.shopify.com/s/files/1/0055/0433/5925/files/rover-robotics-control-picture_5324ea22-6542-4b63-a814-3e2a30c97d69_1024x1024.png?v=1552614338" style="display: block;
    margin-left: auto;
    margin-right: auto;" />
      
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Marketing Blurb",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
