<section class="technical" id="technical-section">
    <div class="container">
      <h2>General Purpose, Industrial-grade and Programmable Robots</h2>
      <div class="row">
        <div class="col-mb-lg-6">

        <!--<img src="//cdn.shopify.com/s/files/1/0055/0433/5925/files/rover-robotics-tagline-bento-bold_grande.png?v=1547845433"  /> -->
        <div class="technical__hardware">
          <h3>Control with anything from an <span class="color-light-blue">Arduino</span> to a <span class="color-light-green">Nvidia Jetson TX2</span> </h3>
          <p>Rovers use a simple UART protocol which makes them compatible with almost every processer and microcontroller.</p>
          <img src="https://cdn.shopify.com/s/files/1/0055/0433/5925/files/rover-hardware-support-1.png?7456" />
        </div>
        </div>
        <div class="col-mb-lg-6">
          <h3>3D Model</h3>
          <div class="technical__3D-model">
            <iframe width="100%"
                    height="720px"
                    src="https://sketchfab.com/models/3ceae9247e09461fae38acbe3afa9310/embed"
                    frameborder="0"
                    allow="autoplay; fullscreen; vr"
                    mozallowfullscreen="true"
                    webkitallowfullscreen="true">
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

