<section class="newsletter">
    <div class="newsletter__box container">
       {{section.settings.form}}
    </div>
</section>




{% schema %}
  {
    "name": "Newsletter",
    "settings": [
       {
         "id": "form",
         "type": "html",
         "label": "Form"
        }
    ],

    "presets": [
    {
      "name": "Newsletter Signup",
      "category": "site-builder"
    }
  ]
  }
{% endschema %}

