<div class="container">
  <h2 class="module__title">{{ section.settings.title }}</h2>
  
  
</div>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
