<section class="ros">
      <h2>Works With ROS 1 & ROS 2</h2>
        <img src="{{'ros1ros2.png' | asset_url}}" id="ros-image" alt="ros"/>
        <br/>
        <div class="row">
            <div class="col-dk-6 col-dk-push-3">
                  <p>
                      We maintain open source packages on our GitHub page.
                      We maintain a ROS driver, autonomous docking code, and are working on a ROS2 driver.
                      We offer fast response times to issues and pull requests.
                  </p>
            </div>
        </div>
         <br>
         <br>
          <a href="https://github.com/RoverRobotics/rr_openrover_basic" target="_blank" class="button"><i class="fab fa-github"></i> Github</a>
</section>